@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.gestion_tickets_container{
    height: 90%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1.5%;
}
.controlls_gest_tick{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.fltr_tickets{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tt_acc_adm{
    font-size: 2.5rem;
    font-weight: bolder;
}
.busq_admin_acc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.busq_admin_acc i{
    font-size: 1.5rem;
}
.fltr_tickets select{
    padding: 5px;
    height: 100%;
    padding: 10px;
    outline: none;
}
.select_adm{
    border: none;
}
.opt_admin{
    display: flex;
    justify-content: center;
    align-items: center;
}
#filtr_pri, #filtr_tem, #filtr_est, #filtr_fech{
    border: 1px solid #fff;
}
.tickets_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 1%;
}
.ticket_icon{
    height: 300px;
    width: 300px;
}
.ticket_icon path{
    height: 100%;
    width: 100%;
}
.ticket_prev{
    height: 270px;
    width: 270px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_ticket_prev{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.tt_tick_prev{
    position: relative;
    z-index: 1;
    font-family: "Roboto Mono", monospace;
    font-weight: bolder;
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
    margin-top: 12%;
    margin-left: 2%;
}
.sombra_sa{
    display: none;
}
.tick_deg{
    rotate: 7deg;
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
}